body {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand', 'Arial', sans-serif;
}

content {
    display: block;
    width: 50%;
    padding: 1rem 2.5rem 1rem 1rem;
    min-width: 800px;
    background-color: rgb(197, 197, 178);
}